 body{
 	font-family: 'Segeo UI',Tahoma, Geneva, verdana, sans-serif; 
               
            }
.adresse i 
{
  margin-right: 5px;
  font-size: 21px;
}

.adresse 
{
  margin-left: 10px;
}
.Tout{
  box-shadow: 30px 0px 40px rgb(196, 196, 196), -30px, 0px 40px rgb(196, 196, 196);
  margin: auto;
  max-width: 1000px;
  display: flex;
    flex-direction: column;

    }   
.head{
  display: flex;
  width: 100%;
  background-color: #95A2B5;
}
.Photo{
  width: 280px;
  padding: 8px;
  padding-left: 6px;
  text-align: center;
}

          .info{
              margin-right: 10px;
            }
            .nom{
              font-size: 20px;
              font-weight: bold;
              color: black;
              padding-left: 1%;
              letter-spacing: .1rem;
              white-space: nowrap;
            }
           .des{
              width: calc(100% - 280px);


            }

            .Qui-suis-je{
              font-size: 15px;
             width: 100%
             letter-spacing: .1rem;
            }

            h3{
            	color: #3FC7DF;
            	font-weight: bold;
            	letter-spacing: .1rem;
            	font-size: 20px;
            }
            h2{
              
               color: #3FC7DF;

            }
            .poste{
 	            color: black;
 	            font-weight: bold;
 	            letter-spacing: .1rem;
              padding-left: 1%;
              white-space: nowrap;

            }
             .cont{
 	            color: black;
 	            font-weight: bold;
 	            letter-spacing: .1rem;

            }

            .Corps{
 	           /* margin-top: -19.8%;*/
              display: flex;
            }

            nav{
              background-color: #57739D;
              color: #FFFFFF;
              width: 280px; 
            }

            aside{
              background-color: #FFFFFF;
              color: #203572;
              width: calc(100% - 280px);
            padding-left: 2%;
            }
            .section-gauche{
               font-size: 16px;
              margin-left: 10px;
            }
            .section-droite{

              padding-top: 3%;
            }
            .li-droite{
              font-size: 20px;

            }
            .Pro{
              padding-top: 10px;
              padding-bottom: 10px;
            }

/*Responsive Media Querries */


@media screen and (max-width: 900px){
    .Tout{
        width: 100%;
    }
    .Photo{
        width: 100%;
        padding-left: 1px;

    }
    .nom{
         width: 100%;
      flex-direction: column;
      padding-left: 100px;
    white-space: nowrap;
        padding-left: 80px;
    }
    .poste{
      width: 100%;
text-align: block;
white-space: nowrap;
    padding-left: 58px;

    }
    .head{
      width: 100%;
      flex-direction: column;
      padding-bottom: 100Px;

    }
    
    .Qui-suis-je{
      padding-top: 10PX;
      width: 100%;
      padding-left: 3px;


      position: absolute;
    }
    
    .Corps{
      width: 100%;
      flex-direction: column;
    }
    nav, aside{
      width: 100%;
      padding-top: 12px;
    }
     
}    
